/* -------------------------------------------------- 
   Fonts
-----------------------------------------------------*/
@font-face {
  font-family: norwester !important;
  src: url("../fonts/norwester/norwester.otf") !important; }
@font-face {
  font-family: Barrio !important;
  src: url("../fonts/Barrio/Barrio-Regular.otf") !important; }
@font-face {
  font-family: wolf_in_the_city !important;
  src: url("../fonts/wolf_in_the_city/Wolf in the City.otf") !important; }
@font-face {
  font-family: nautilus !important;
  src: url("../fonts/nautilus/Nautilus.otf") !important; }
/* -------------------------------------------------- 
   font styles
-----------------------------------------------------*/
.fontStyle, h3 {
  font-family: nautilus, sans-serif;
  color: #e8554e; }

/* -------------------------------------------------- 
   slider styles
-----------------------------------------------------*/
#slider h1 {
  position: absolute;
  bottom: 40px;
  left: 680px;
  width: 100%;
  font-family: Barrio, sans-serif;
  font-weight: regular;
  text-decoration: none;
  color: #f6f7f0; }

#this h1 {
  position: absolute;
  bottom: 40px;
  left: 680px;
  width: 100%;
  font-family: Barrio, sans-serif;
  font-weight: regular;
  text-decoration: none;
  color: #f6f7f0; }

/* -------------------------------------------------- 
   Three-up Content Blocks styles (home page)
-----------------------------------------------------*/
#ctaA h4 {
  color: #61b6c5; }

#ctaB h4 {
  color: #f7c32b; }

#ctaC h4 {
  color: #74b364; }

/* -------------------------------------------------- 
   h3 styles
-----------------------------------------------------*/
