#slider {
	h1{
	position: absolute;
	bottom: 40px;
	left: 680px;
	width: 100%;
	font-family: Barrio, sans-serif;
	font-weight: regular;
	text-decoration: none;
	color: $softWhite;
	 }
}

#cta1 {
	h4{
	color: $lightBlue;
	}
}